// entry file for css
// reset file
@import './styles/reset.css';

h1 {
    color: blue;
}


#main-blocks {
    background-color: blue;
   display: grid;
   grid-template-columns: 620px 620px;
   
}



button {
    cursor: pointer;
}
.container {
    width: 615px;
    height: 300px;
    display: inline flex;
    background-color: grey;
}

#synth-controls {
    display: flex;
    justify-content: center;
}

.grid{
    display: block;
    
}

.node {
    display: inline-flex;
    border-radius: 5px;
    // margin: 5px;
    height: 25px;
    width: 25px;
    border: 1px solid black;
    background-color: lightslategray;
    cursor: pointer;
}

.node:nth-child(4n+1) {
    margin-left: 10px;
}

.selected {
    border: 1px solid black;
    background-color: yellow;
}
.selected-2 {
    border: 1px solid black;
    background-color: red;
}
.selected-3 {
    border: 1px solid black;
    background-color: greenyellow;
}

.node.current-beat {
    transition: border .2s ease-out;
    border: 1px solid white;
}

.keyboard-node {
    display: inline-flex;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 25px;
    border: 1px solid black;
    background-color: lightslategray;
}
.large {
    width: 35px
}
.larger {
    width: 50px;
}

.largest {
    width: 60px;
}
.keyboard {
    background-color: grey;
    // width: 500px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    
}
.root {
    border-color: white;
}
.pressed {
    background-color: aqua;
}

.keyboard-row {
    display: flex;
    justify-content: space-between;
}

.inactive {
    color: black;
    background-color: rgb(79, 77, 77);
}



// .box {
//     background-color: red;
//     border: 2px solid black;
//     width: 40px;
//     height: 40px;
// }
// #gridtest {
//     display: grid;
//     grid-template-columns: 40px 40px;
// }
