// entry file for css

//  can import css files from the styles folder with: @import './styles/otherStyling.css'
@import './styles/anotherStyle.css';
h1 {
    color: blue;
}
button {
    cursor: pointer;
}
#test-grid{
    display: grid;
    margin: 1rem;
    text-align: center;
    align-self: center;
    background-color: rgb(102, 210, 244);
    height: 300px;
    width: 1000px;
}

.node {
    display: inline-flex;
    border-radius: 10px;
    margin: 5px;
    height: 50px;
    width: 50px;
    border: 1px solid black;
    background-color: lightslategray;
    cursor: pointer;
}

.selected {
    border: 1px solid black;
    background-color: yellow;
}
.selected-2 {
    border: 1px solid black;
    background-color: red;
}