// entry file for css

//  can import css files from the styles folder with: @import './styles/otherStyling.css'
@import './styles/anotherStyle.css';
h1 {
    color: blue;
}

#basicSequencer {
    display: flexbox;
    margin: 1rem;
    text-align: center;
    align-self: center;
    background-color: rgb(102, 210, 244);
    div {
        margin-top: 1rem;
    }
}

